*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
   padding: 5px;
   flex-wrap: wrap;



}

nav a{
    color: white;
    text-decoration: none;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.main{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
    grid-template-areas: 
    "area1 area2 area3"
    "area4 area5 area6"
    "area7 area8 area9"
    ;

}
.area{
    border: 1px solid black;
}

#area1{
    background-color: blueviolet;
    grid-area: area1;
}

#area2{
    background-color: blueviolet;
    grid-area: area2;
}
#area3{
    background-color: blueviolet;
    grid-area: area3;
}

#area4{
    background-color: pink;
    grid-area: area4;
}

#area5{
    background-color: pink;
    grid-area: area5;
}
#area6{
    background-color: pink;
    grid-area: area6;
}

#area7{
    background-color: coral;
    grid-area: area7;
}

#area8{
    background-color: coral;
    grid-area: area8;
}
#area9{
    background-color: coral;
    grid-area: area9;
}

@media (max-width: 768px) {
    .main{
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px);
     
        grid-template-areas: 
        "area1 area2 "
        "area4 area5 "
         ;
    
    }


    
}
